.header-masculino{
    background-image: url('../../../assets/modelo2.jpg');
    height: 500px;
}
.tituloCorte{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: Marker Felt, fantasy;
}
#titulo{
    padding:15px;
}
.tamanhoImagens{
    height: 300px;
}
img{
    height: 100%;
}
