<div class="espaco">
  <div class="header-masculino col-md-12 col-sm-12">
  </div>
  <div class="col-md-12 col-sm-12">
    <div id="titulo" align="center">
      <span class="tituloCorte">Cortes</span>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 card">
    <div class="tamanhoImagens row">
      <div class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte1.jpg">
      </div>
      <div class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte2.jpg">
      </div>
      <div class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte3.jpg">
      </div>
      <div class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte4.jpg">
      </div>
    </div>
  </div>
</div>
<app-back-toop></app-back-toop>
<app-footer></app-footer>
