.header-masculino{
    background-image: url('../../../assets/modelo2.jpg');
    height: 500px;
}
.header-feminino{
    background-image: url('../../../assets/modelo.jpg');
    height: 400px;
}
.tituloCorte{
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: Marker Felt, fantasy;
}
#titulo{
    padding:15px;
}
img{
    height: 300px;
}
.alinhamentoTextoCortes{
    margin-top: -143px;
}
.textoCortes{
    color: #1c1c1c;
    background: #D1AB7F;
    padding: 20px;
    font-family: Marker Felt, fantasy;
}
#corte1Hover{
    display: none;
}
#corte2Hover{
    display: none;
}
#corte3Hover{
    display: none;
}
#corte4Hover{
    display: none;
}
#corte1:hover{
    opacity: 0.9;
    #corte1Hover{
        display: block;
    }
}
#corte2:hover{
    opacity: 0.9;
    #corte2Hover{
        display: block;
    }
}
#corte3:hover{
    opacity: 0.9;
    #corte3Hover{
        display: block;
    }
}
#corte4:hover{
    opacity: 0.9;
    #corte4Hover{
        display: block;
    }
}
