<div class="espaco">
  <div class="header-masculino col-md-12 col-sm-12">
  </div>
  <div class="col-md-12 col-sm-12">
    <div id="titulo" align="center">
      <span class="tituloCorte">Cortes</span>
    </div>
  </div>
  <div class="col-md-12 col-sm-12 card">
    <div class="tamanhoImagens row">
      <div id="corte1" class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte1.jpg">
        <div id="corte1Hover" class="alinhamentoTextoCortes" align="center">
          <span class="textoCortes">CORTE 1 PREÇO: R$ 22,00</span>
        </div>
      </div>
      <div id="corte2" class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte2.jpg">
        <div id="corte2Hover" class="alinhamentoTextoCortes" align="center">
            <span class="textoCortes">CORTE 2 PREÇO: R$ 42,00</span>
        </div>
      </div>
      <div id="corte3" class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte3.jpg">
        <div id="corte3Hover" class="alinhamentoTextoCortes" align="center">
            <span class="textoCortes">CORTE 3 PREÇO: R$ 92,00</span>
        </div>
      </div>
      <div id="corte4" class="col-md-3 col-sm-12 card">
        <img src="assets/cortes/corte4.jpg">
        <div id="corte4Hover" class="alinhamentoTextoCortes" align="center">
            <span class="textoCortes">CORTE 4 PREÇO: R$ 122,00</span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-back-toop></app-back-toop>
<app-footer></app-footer>
