.espaco{
    padding-top:40px;
}
.sobreTexto{
    font-family: Marker Felt, fantasy;
    color: #fefeff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 2px #343a40;
}
.image{
    background-image: url('../../../assets/sobre.jpg');
    background-size:cover;
}
#imagemSobre{
    height: 300px;
}
.card{
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: flex!important;
    position: relative!important;
    padding: 14px!important;
    border-radius: 2px!important;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)!important;
    font-family: Roboto, "Helvetica Neue", sans-serif!important;
    margin-top: 1px!important;
}
