
body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
    font-weight: bold;
    background:#D1AB7F;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.beautYouText{
    color: white;
    border-color: white;
    border-style: solid;
    padding: 10px;
    font-family: Marker Felt, fantasy;
}
.beautYouSubText{
    font-family: Marker Felt, fantasy;
    color: white;
    padding-top:14px;
    font-size:13px;
}
.beautYouText:hover{
    border-color: #D1AB7F;
    font-weight: bold;
}
.beautYouSubText:hover{
    color: #D1AB7F;
    font-weight: bold;
}
.espaco{
    padding-top:20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #343434;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.corPadrao{
    color: #D1AB7F;
}
.logoTexto{
    color:white;
    font-size:30px;
    font-weight: bold;
    font-family: Marker Felt, fantasy;
    }
    .logoSubTexto{
        font-size:11px;
        font-weight: bold;
        text-shadow: 0 0 2px #111;
        color:rgba(231, 190, 143, 0.781);
    }

.logoNav{
    margin-left: 60px;
}