<ul id="logoNav1">
  <li>
    <span class="corPadrao" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  </li>
  <li>
    <div (click)="alteraCor('normal');router.navigate(['']);" class="logoNav">
        <span class="logoTexto"><strong>B</strong>EAUTY-<strong>U</strong></span><br>
      <span class="logoSubTexto">
          PROJETO PARA SALÕES DE BELEZA
      </span>
    </div>
  </li>
</ul>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <div>
    <div id="beautYouMinLogo" (click)="alteraCor('normal');router.navigate(['']);" align="center">
      <span class="beautYouText">BEAUTY YOU</span>
    </div>
    <div align="center" class="beautYouSubText">
      <span>HAIRY</span>
    </div>

  </div>
  <div class="espaco">
    <a (click)="alteraCor('normal')" routerLink="sobre">Sobre</a>
    <a (click)="alteraCor('normal')" routerLink="servicos">Serviços Oferecidos</a>
    <a (click)="alteraCor('eles')" routerLink="masculino">Para Eles</a>
    <a (click)="alteraCor('elas')" routerLink="feminino">Para Elas</a>
  </div>
</div>

<div id="main">
  <router-outlet></router-outlet>
</div>
