.imagemInicial{
    background-size:cover;
    background-image: url('../../../assets/background.jpg');   
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.logo{
    height: 90px;
    width: 300px;
    background-color: #212121ea;
	border: 1px solid rgba(0,0,0,0.1);
}
.logoTexto{
    font-size:30px;
    font-family: Marker Felt, fantasy;
    font-weight: bold;
    text-shadow: 0 0 2px #111;
    color:rgba(231, 190, 143, 0.781);

}
.logoSubTexto{
    color:rgba(255, 255, 255, 0.787);
    font-size:11px;
    text-shadow: 0 0 2px #111;
    font-weight: bold;
}
.circulo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: -20px;
    background: #212121;
}
.pente{
    width: 40px;
    height: 40px;
}
.logoTexto:hover{
    color: #D1AB7F;
}
.logoSubTexto:hover{
    color: #D1AB7F;
}
.modelo{
    width: 200px;
    height: 250px;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
}
.columnTexto {
    float: left;
    width: 55.00%;
    padding: 5px;
}

#modelo:hover{
    opacity: 0.5;
}
#modelo2:hover{
    opacity: 0.5;
}
#modelo3:hover{
    opacity: 0.5;
}
/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
#nossosServicos{
    color: #343434;
    font-weight: bold;
    font-size: 25px;
    font-family: Marker Felt, fantasy;
}
#marqueVisita{
    color: #343434;
    font-weight: bold;
    font-size: 11px;
    text-shadow: 0 0 2px #e4e2e2b8;
}
#servico{
    color: #111;
    text-shadow: 0 0 2px rgba(169, 167, 164, 0.97);
    font-size: 13px;
}
#masculino{
    float: left;
    border: solid 1px;
    padding: 10px;
    background:#F6F6F6;
}
#masculino:hover{
    background:#343434;
    color:white;
}
#feminino{
        float: left;
        border: solid 1px;
        border-color: #111;
        padding: 10px;
        color:white;
        background:#343434;
}
#feminino:hover{
    background:#F6F6F6;
    color:#111;
}
.espaco1{
    width: 200px;
    padding-top: 30px;
}