<div class="imagemInicial col-sm-12" align="center">
    <div style="height: 150px;"></div>
    <div class="logo col-md-3 col-sm-12">
        <div class="circulo">
            <img id="imagem" class="pente" src="assets/pente.png">
        </div>
        <span class="logoTexto">
            <strong>B</strong>EAUTY-
            <strong>U</strong>
        </span>
        <br/>
        <span class="logoSubTexto">
            PROJETO PARA SALÕES DE BELEZA
        </span>
    </div>

</div>
<div class="row" style="background: #F6F6F6;">
    <div class="columnTexto col-sm-12" align="center">
        <br/> <br/> <br/>
        <span id="nossosServicos">CONHEÇA NOSSOS SERVIÇOS</span>
        <br/>
        <span id="marqueVisita">MARQUE UM HORÁRIO PARA UMA VISITA E NÓS CUIDAREMOS DO RESTO</span>
        <br/><br/><br/>
        <span id="servico">Qual tipo de serviço você procura?</span>
    </div>
    <div class="column">
        <img class="modelo borderBlack col-sm-12" id="modelo" src="assets/modelo.jpg">
    </div>
    <div class="column">
        <img class="modelo col-sm-12" id="modelo2" src="assets/modelo2.jpg">
    </div>
    <div class="column">
        <img class="modelo borderBlack col-sm-12" id="modelo3" src="assets/modelo3.jpg">
    </div>
</div>