#servicosImagem{
    background-image: url('../../../assets/servicos.jpg');
    height: 350px;
    background-size: cover;
}
#textImagem{
    color: white;
    padding-top: 15%;
    font-size: 30px;
    text-transform: uppercase;
}

#divTextBack{
    background:rgb(17, 17, 17);
    opacity: 0.9;
    height: 60px;
    padding: 10px;
    font-family: Marker Felt, fantasy;
}
.row{
    background: #e9ecef;
}
img{
    width: 100%;
    height: 100%;
}
.alingText{
    margin-top: 30%;
    color: #343434;
    font-size: 25px;
    font-family: Marker Felt, fantasy;
}