#servicosImagem{
    background-image: url('../../../assets/servicos.jpg');
    height: 350px;
    background-size: cover;
}
#textImagem{
    color: white;
    padding-top: 15%;
    font-size: 30px;
    text-transform: uppercase;
}

#divTextBack{
    background:rgb(17, 17, 17);
    opacity: 0.9;
    width: 500px;
    height: 60px;
    padding: 10px;
    font-family: Marker Felt, fantasy;
}