#servicosImagem{
    background-image: url('../../../assets/servicos.jpg');
    height: 350px;
    background-size: cover;
}
#textImagem{
    color: white;
    padding-top: 15%;
    font-size: 30px;
}