<div id="servicosImagem">
  <div id="textImagem" align="center">
    <div class="col-md-4 col-sm-12" id="divTextBack">
      <span>Serviços Oferecidos</span>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets/servicos/servico1.jpg">
    </div>
    <div class="col-md-6 col-sm-12">
      <div align="center" class="alingText">
        <span>MASSAGENS RELAXANTES</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div align="center" class="alingText">
        <span>MAQUEAGENS DA MODA</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets/servicos/servico2.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets/servicos/servico4.jpg">
    </div>
    <div class="col-md-6 col-sm-12">
      <div align="center" class="alingText">
        <span>CORTES ELEGANTES</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div align="center" class="alingText">
        <span>CORTES MASCULINOS</span>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="assets/servicos/servico5.jpg">
    </div>

  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="assets/servicos/servico3.jpg">
    </div>
    <div class="col-md-6 col-sm-12">
      <div align="center" class="alingText">
        <span>BARBAS PERSONALIZADAS</span>
      </div>
    </div>
  </div>
</div>
<app-back-toop></app-back-toop>
<app-footer></app-footer>