a{
    text-decoration: none;
    color: #343434;
}
a:hover {
 font-weight: bold;
 color:rgba(231, 190, 143, 0.781);
}
.text-uppercase{
    color: #343434;
    font-weight: bold;
}
.back{
    background: #F6F6F6 !important;
}