/* You can add global styles to this file, and also import other style files */
body{
    background-size:cover;
    background-image: url('assets/background.jpg');   
    background-repeat: no-repeat;
}